# ==============================================================================
# 1. CONFIGURAÇÕES CRÍTICAS (INFRAESTRUTURA)
# ==============================================================================

# Define a porta universal do sistema
PORT=8000

# Chave de criptografia de sessão do Flet.
FLET_SECRET_KEY=dev_local_secret_key_change_me_in_prod

# SEGURANÇA DA APLICAÇÃO
MASTER_PIN=2308

# Habilita a validação de certificados SSL (Recomendado: True em produção, False apenas para Docker dev/proxy local)
SSL_VERIFY=True

# Força o Flet a rodar como servidor Web
FLET_FORCE_WEB_VIEW=true
FLET_SERVER_PORT=8000
